#root {
  max-width: 1280px;
  padding: 2rem;
  color: rgb(40, 40, 40);
}

.app {
  display: flex;
  flex-direction: row;
  gap: 24px;
  width: 100%;
}

.edit-panel-container {
  justify-self: flex-end;
  width: 40%;
  padding: 20px;
}