@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Lora:ital,wght@1,400;1,500&display=swap');

#root {
  padding: 1rem;
  padding-top: 1rem;
  margin: 1rem auto;
}

.app {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  gap: 24px;
  width: 100%;
}

.edit-panel {
  right: 0;
  height: auto;
  max-height: 100%;
  padding: 20px;
  background-color: rgb(244, 244, 244);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow-y: auto;
}

@media screen and (max-width: 800px) {
  .app {
    flex-direction: column-reverse;
    gap: 40px;
  }
}

@media screen and (max-width: 1023px) {

}