.form-title {
  margin: 1rem 0.5rem;
  text-transform: uppercase;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
}

.form-title::before {
  content: "+ ";
}

.Collapsible__contentOuter {
  transition: height 200ms linear 0s;
}