.form-title {
  margin: 0.2rem;
  text-transform: uppercase;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 0.9rem;
}

.is-closed > .form-title::before {
  content: "+ ";
}

.is-open > .form-title::before {
  content: "− ";
}

.form-inputs, .add-form-inputs {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.Collapsible:hover {
  cursor: pointer;
}