.form-title {
  margin: 0.2rem;
  text-transform: uppercase;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
}

.form-title::before {
  content: "+ ";
}

.form-inputs {
  margin-top: 1rem;
}

.Collapsible:hover {
  cursor: pointer;
}