.input-group {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 14px;
}

input, textarea {
  padding: 8px;
  border: none;
  font-family: 'Inter', sans-serif;
  font-size: 0.9rem;
  background-color:rgb(237, 237, 237);
}

input:focus, input:active, textarea:focus, textarea:active {
  border: 1px solid rgb(183, 183, 183);
  outline: none;
}

input::placeholder, textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  opacity: 0.6; /* Firefox */
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder { /* Microsoft Edge */
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

textarea {
  resize: vertical;
}