.section-list {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.experience-section-list {
  gap: 3em;
}

.skill-section-list {
  gap: 0em;
}

.section-item {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.experience-item {
  gap: 0.6em;
}

.section-item > * {
  margin: 0;
}

.item-title {
  font-family: 'Lora', 'serif';
  font-style: italic;
  font-size:  1.2em;
  font-weight: 500;
}

.item-title.job {
  font-size: 1.5em;
}

.item-subtitle {
  margin-left: 0.5rem;
  font-family: 'Lora', 'serif';
  font-weight: 400;
  font-size: 1.1em;
}

.item-detail {
  font-family: 'Inter', 'sans-serif';
  font-weight: 600;
  font-size: 0.9em;
  color:rgb(59, 59, 59)
}

.degree, .description {
  /* font-size: 13px; */
}