.section-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.experience-section-list {
  gap: 30px;
}

.section-item {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.experience-item {
  gap: 10px;
}

.section-item > * {
  margin: 0;
}

.item-title {
  font-family: 'Lora', 'serif';
  font-style: italic;
  font-weight: 500;
}

.item-title.job {
  font-size: 1.3rem;
}

.item-subtitle {
  margin-left: 1rem;
  font-family: 'Lora', 'serif';
  font-weight: 400;
}

.item-date, .item-location {
  font-family: 'Inter', 'sans-serif';
  font-weight: 600;
  font-size: 11px;
}

.degree {
  font-size: 13px;
}